<div class="mt-tablero fluid-container">
  <div class="row">
    <div class="col-12 col-md-3">
      <br><h2>Menú Admin</h2><br>
      <ul class="mt-tablero__lista">
        <li class="mt-tablero__lista-item" routerLink="deportes">Deportes</li>
        <li class="mt-tablero__lista-item" routerLink="equipos">Equipos</li>
        <li class="mt-tablero__lista-item" routerLink="eventos">Eventos</li>
      </ul>
    </div>
    <div class="col-12 col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
