<section class="mt-card">
  <div class="row">
    <div class="col-12 col-md-6 mt-card__titulo">
      <app-titulo-seccion titulo="Equipos"></app-titulo-seccion>
        <app-boton text="Crear equipo"
                   (click)="crearEquipo()"
        ></app-boton>
    </div>
  </div>

  <div class="row">
    <div class="mt-card mt-card--primary col-12 col-md-6"
         [ngClass]="{'mt-card--small': sizeCard === 'small'}">

      <ul *ngIf="equipos"
          class="mt-card-list">
        <li class="mt-card__item" *ngFor="let equipo of equipos">
          <p>
            <span class="mt-card__item-bullet"> </span>{{ equipo.nombre }}
          </p>
          <div>
            <app-boton class="edit"
                       (click)="editarEquipo(equipo._id)">
                       <span class="material-icons">edit</span>
            </app-boton>
            <app-boton class="delete"
                       (click)="eliminarEquipo(equipo._id)">
                       <span class="material-icons">clear</span>
            </app-boton>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>


