<section class="mt-equipos">

  <app-titulo-seccion titulo="Crear equipo"></app-titulo-seccion>

  <form class="mt-equipos__form">
    <p>
      <app-input label = "Ingresa el equipo:"
                 [form] = "crearEquipoForm"
                 name = "nombre"
                 [error] = error>
      </app-input>
    </p>

    <p class="mt-equipos__form-botones">
      <app-boton text="Crear equipo"
                 class="primario"
                 (click)="crearEquipo()"></app-boton>
      <app-boton text="Cancelar"
                 (click)="cancelar()"></app-boton>
    </p>

  </form>

</section>

