<section class="mt-deportes">

  <app-titulo-seccion titulo="Crear deporte"></app-titulo-seccion>

  <form class="mt-deportes__form">
    <p>
      <app-input label = "Ingresa el deporte:"
                 [form] = "editarDeporteForm"
                 name = "nombre"
                 [error] = error>
      </app-input>
    </p>

    <p class="mt-deportes__form-botones">
      <app-boton text="Editar deporte"
                 class="primario"
                 (click)="editarDeporte()"></app-boton>
      <app-boton text="Cancelar"
                 (click)="cancelar()"></app-boton>
    </p>

  </form>

</section>

